* {
  all: unset;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 7pt;
  color: #00ccff;
}

.main-widget {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #00ccff;
}

.header {
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: 100px;
}

.bar-label {
  min-width: 40px;
}

.bar-label-wide {
  min-width: 50px;
}

.fs-label {
  min-width: 120px;
}
progress trough {
  background-color: #333;
  min-height: 12px;
  min-width: 150px;
  border-radius: 6px;
  margin: 0 10px;
}

progress highlight {
  background-image: linear-gradient(to right, #66b3ff, #0077ff);
  min-height: 12px;
  border-radius: 6px;
}

/* Process list styling */
.proc-box {
  min-width: 280px;
}

.proc-header {
  font-weight: bold;
  color: #aaa;
}
.bar trough {
  background-color: #333; /* Bar background */
//   min-height: 12px;
//   min-width: 100px;
  border-radius: 6px;
  margin: 0 5px;
}

.bar progress {
  background-image: linear-gradient(to right, #66b3ff, #0077ff); /* Bar fill */
  min-height: 12px;
  border-radius: 6px;
  color: #0077ff;
}

.stacked-bar-container {
  border-radius: 4px;
  background-color: #333; // This is the "idle" color
  margin-right: 10px;
}

.cpu-bar-user {
  background-color: #77aaff; // Blue
  min-width: 1px;
}
.cpu-bar-system {
  background-color: #ff7777; // Red
  min-width: 1px;
}
.cpu-bar-nice {
  background-color: #77ff77; // Green
  min-width: 1px;
}
.cpu-bar-iowait {
  background-color: #ffaa77; // Orange
  min-width: 1px;
}
.cpu-bar-idle {
  background-color: transparent;
}

.cpu-bar-user {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cpu-bar-idle {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
