# Build Directory (Primary CMake output)
build/
result/

# In-source build safeguards
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
compile_commands.json

# Binary Artifacts
*.bin
*.a
*.o
a.out

# Editor / Tooling
.history/
my.code-workspace
vgcore.*
*.bak

# Misc
test.cpp
private/
